<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Fizzgun - Powered by mitmproxy</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/mitmproxy.css" rel="stylesheet">
    <link href="/static/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">mitmproxy</a>
            <a class="navbar-brand" href="/reports/">reports</a>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}  
    {% end %}  
</div>

  </body>
</html>
